<%layout('/layouts/boilerplate.ejs') %>
<body>
    <div class="show-container">
      
      <br>
      <div class="post_title">
        <div class="project_name"><h3 style="margin-bottom: 0.3rem;"><%= project.projectName %></h3></div>
        <div class="postedby"><h5 style="display: inline-block;">Posted By:</h5> &nbsp; &nbsp; <%=project.postedBy %></div>
      </div>
      <div class="post_info">
       
        <div class="site"><p><i class="fa-solid fa-house"></i>&nbsp;&nbsp;&nbsp;<%=project.job_location.charAt(0).toUpperCase()
          + project.job_location.slice(1) %></p></div>
        <div class="date-info">
          <div>
            <span class="grey-text" > <i class="fa-regular fa-circle-play"></i> <h6>START DATE</h6></span><br>
           Immediately
          </div>
          <div>
            <span class="grey-text"><i class="fa-solid fa-user"></i> <h6>VACANCIES AVAILABLE</h6></span><br>
            <%=project.requirements %>
          </div>
          <div>
            <span class="grey-text"><i class="fa-regular fa-calendar"></i> <h6>DURATION</h6></span><br>
            <%=project.duration %>
          
          </div>
          <div>
            <span class="grey-text"><h6>DOMAIN</h6></span><br>
            <%=project.domain.charAt(0).toUpperCase()
            + project.domain.slice(1) %>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <div class="description">
        <h4>ABOUT THE PROJECT</h4>
        <p><%=project.description%></p>
      </div>
      <div class="description">
        <h4>Skills</h4>
        <p><%=project.skills%></p>
      </div>
      <div class="description">
    <button class="btn btn-outline-primary">APPLY NOW</button>
      </div>
     </div>
</body>